<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Отклик принят!</title>
</head>

<body>
   <h1>Доброго времени суток "{{user.username}}"</h1>
   <h1>Ваш отклик на публикацию "{{post.title}}" принят!!</h1>
   <h1>
      <a href="http://127.0.0.1:8000{% url 'posts:profile_responses'%}">Нажми для посмотра!</a>
   </h1>
   <p>
   </p>
   <h2>Текст отклика:</h2>
   <p>
      {{feedback.text}}
   </p>


</body>

</html>