<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый Отклик!</title>
</head>

<body>
    <h1>Доброго времени суток "{{post.author.username}}"</h1>
    <h1>Появился новый откли на вашу публикацию "{{post.title}}"</h1>
    <h1>Отклик оставил {{feedback.feedbackUser.username}}</h1>
    <h1>
        <a href="http://127.0.0.1:8000{% url 'posts:post_detail' post.id %}">Нажми для посмотра!</a>
    </h1>
    <p>
    </p>
    <h2>Текст отклика:</h2>
    <p>
        {{feedback.text}}
    </p>


</body>

</html>