{% extends 'default.html' %}

{%block title%} Home! {%endblock title%}

{%load static%}

{%block content%}

        <!-- ***** Banner Start ***** -->
        <div class="main-banner">
          <div class="row">
            <div class="col-lg-7">
              <div class="header-text">
                <h6>Welcome To MMORPG</h6>
                <h4><em>Browse</em> Our Publications</h4>
                <div class="main-button">
                  <a href="/posts">Browse Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Banner End ***** -->
      

{%endblock content%}