{% extends 'accounts/profile.html' %}

{%block mypublications%}

<!-- ***** Publications ***** -->
<br>
<div class="row">
   <div class="col-lg-12">
      <div class='row'>
         <div class="featured-games header-text">
            <div class="heading-section">
               <h4>MY<em>Publications</em> </h4>
            </div>
  <!-- ***** Publications List start ***** -->
            {%for i in posts%}
            <div class="card mb-3" style="max-width: 100%; cursor: pointer;" onclick="window.location='/posts/{{i.pk}}'">
               <div class="row g-0">
                  <div class="col-md-4 ">
                  <img src="{{i.image.url}}" class="self-image"  alt="Picture">
                  </div>
                  <div class="col-md-8" style="background-color: #27292a;" >
                     <div class="card-body ">
                        <h3 style="color: #ec6090;">{{i.title}} </h3>
                        <p>by "{{i.author.username}}" - {{i.dateCreation|date:'d-m-Y'}}</p>
                        <br>
                        <p class="card-text">{{i.preview}}</p>
                        <br>
                        <h4><em>категория:&#8200;&#8200;{{i.postCategory}}</em></h4>
                        <h4><em>класс:&#8200;&#8200;{{i.get_postType_display}}</em></h4>
                     </div>
                  </div>
               </div>
            </div>
            {%endfor%}
         </div> 
      </div> 
   </div> 
</div> 

{%endblock mypublications%}